@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');
body * {
  font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif;
  color: #111;
}
/* 
.container {
  max-width: 600px;
  margin: 0 auto;
} */

h1 {
  margin-bottom: -0.5rem;
}

body {  
padding: 0 1.5rem 1.5rem 1.5rem;
}

p, li {
  line-height: 1.5rem;
}

li {
  margin: 0.5rem;
}

ul {
  padding-left: 1rem;
}

blockquote {
  border-left: 4px solid #111;
  margin-left: 0;
  padding-left: 0.75rem;
  font-style: italic;
  font-size: 1.4rem;
}
blockquote * {
  line-height: 2.1rem;
}

code {
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: 'Fira Mono', monospace;
}

.wp-block-code {
  background-color: #eee;
  padding: 1rem;
  border-radius: 0.25rem;
}