@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Lora:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,400;0,700;1,400&family=VT323&display=swap');

body * {
  font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif;
  color: #111;
}

h1 {
  margin-bottom: -1rem;
}

body {  
padding-left: 1.5rem;
}

p {
  line-height: 1.5rem;
}

blockquote {
  border-left: 4px solid #111;
  margin-left: 0;
  padding-left: 0.75rem;
}